.sms-list {
  border: var(--border-light);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 400px;
  min-height: 100px;
  overflow: scroll;
  padding-bottom: var(--padding-md);
}

.sms-wrapper {
  display: flex;
  padding: var(--padding-xs);
  width: 100%;
}

.sms-wrapper-inbound {
  justify-content: flex-start;
}

.sms-wrapper-outbound {
  justify-content: flex-end;
}

.sms-message {
  white-space: normal !important;
  width: fit-content !important;
}

.sms-message-inbound {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 16px !important;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  justify-self: flex-start;
}

.sms-message-outbound {
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 2px !important;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  justify-self: flex-end;
}

.text-enter-wrapper {
  margin-top: var(--padding-sm);
}

.text-enter-wrapper span[class*="ant-input-group-addon"] {
  cursor: pointer;
}

.text-enter-wrapper span[class*="ant-input-group-addon"]:hover {
  filter: contrast(0.95);
}

.text-enter-wrapper span[class*="anticon"] {
  color: #40a9ff;
}

.icon-send {
}

.pad-header {
  font-size: 14px;
  font-weight: 500;
}
